.cards {
  margin-top: 47.25px;
}

.card__list {
  display: grid;

  gap: 17px;
  list-style-type: none;
}

.card {
  max-width: 282px;
  max-height: 361px;
  background-color: #fff;
}

.card__description {
  display: flex;
  color: #000;
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__button {
  background: transparent url(../images/heart_logo_black.svg);
  color: black;
}
