.cards {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  border-radius: 10px;
  list-style-type: none;
}

.card__description {
  background-color: #fff;
  display: flex;
  color: #000;
  /*font-family: "Inter", serif;*/
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/heart_logo_black.svg);
  width: 21px;
  height: 18px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.cards__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 620px) {
  .cards {
    margin-top: 25px;
  }
}
