.content {
}

.profile {
  display: flex;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/pencil_logo.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
