.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  color: #000;
  padding: 0 19px;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__heading {
}

.modal__form {
}

.modal__button {
}
