.popup__error {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  left: 36px;
  line-height: 15px;
}

.popup__error-name {
  bottom: 185px;
}

.popup__error-about {
  bottom: 125px;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__button-disabled {
  opacity: 20%;
  cursor: not-allowed;
}
