.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px;
  cursor: pointer;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: pointer;
}
.card__like-button_active {
  background-image: url(../images/active-heart-icon.svg);
}
.card__like-button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}
.card__delete-button {
  background: transparent url(../images/Trash-icon.svg) center no-repeat;
  position: relative;
  width: 21px;
  height: 18px;
  top: 25px;
  right: -250px;
  border: none;
  cursor: pointer;
}
.card__delete-button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}
