.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin-bottom: 60px;
  margin-top: 67px;
}
@media screen and (max-width: 880px) {
  .footer__copyright {
    padding-left: 100px;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: 0;
  }
}
